@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    width: 100%;
    height: 100%;
}

header {
    height: 7.5vh;
    padding: 10px 20px;

    border-bottom: cadetblue 1px solid;

    & .header_logo {
        width: 50px;
        height: auto;
    }
}

main {
    height: 82vh;
    background: #f5f5f5;
}

footer {
    height: 7.5vh;
    border-top: cadetblue 1px solid;
}

#form_content {
    display: grid;
    place-content: center;
    position: relative;
    padding-top: 80px;

    & h1 { 
        margin-bottom: 10px;
        height: 50px;
        border-left: cadetblue 4px solid;
    }
    & .input_grp {
        margin-bottom: 10px;
        & label {
            display: block;
            margin-bottom: 10px;
        }

        & input {
            width: 200px;
            height: 2.5em;
            border-radius: 12px;
            margin-bottom: 10px;
			padding: 10px 20px;
        }
    }

    & .btn {
        width: 100px;
        height: 2.5em;
        border: cadetblue 1px solid;
        border-radius: 20px;
		cursor: pointer;
        background: linear-gradient(to right, blue,  blueviolet);
        transition: 0.5s;
    }

    & .btn:hover {
        transform: translateY(-2px);
        box-shadow: color-mix(in srgb,cadetblue 90%, white);
    }
}

.error {
    font-size: small;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: color-mix(in srgb, red 20%, white);
    color: color-mix(in srgb, red 70%, white);
}