@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    /*outline: 2px red solid;*/
}

:root {
    --header-height: 70px;
}

ul {
    padding: 0;
}

a, a:visited{
    text-decoration: none;
    color: black;
    transition: 0.5s linear;
}

/*
    -------ヘッダー要素
*/

header {
    position: sticky;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: var(--header-height);
    background-color: white;
    border-bottom: 1px solid #DEDEDE;
}

.header-top {
    display: flex;
    margin: 0 auto;
    height: var(--header-height);
    line-height: 0;
}

.header-right {
    width: 50%;
    height: var(--header-height);
}

.header-logo {
    padding-left: 2%;
    margin-top: 2px;
    margin-right: auto;
    
    & img {
        height: 100%;
        width: auto;
    }
}

.header-nav {
    height: var(--header-height);
    line-height: 0;
}

.header-nav .nav-list {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
}

.header-nav .nav-item {
    width: 100%;
    height: var(--header-height);
    text-align: center;
    font-weight: 700;
    border-left: 1px solid #DEDEDE;
    transition: 0.5s;
}

.header-nav .nav-item:hover {
    background-color: #DFDFDF;
}

.header-nav .nav-item a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #004A88;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
}

.header-nav .nav-item a:hover::after {
    transform: scale(1, 1);
}

.header-nav .nav-item a {
    display: block;
    height: var(--header-height);
    padding: 32px 0;
    position: relative;
}

/*
    --------パンくずリスト
*/

.main-list-nav {
    width: 100%;
    height: 20px;
    margin-bottom: 30px;
}

.main-list-nav .nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 10px;
}

.main-list-nav .nav-list .nav-item a {
    font-size: small;
    color: royalblue;
}

.main-list-nav .nav-list .nav-item {
    font-size: small;
}

.main-list-nav .nav-list .nav-item:not(:last-of-type)::after {
    content: "/";
    margin: 0.6em;
    font-size: small;
}

/*
    ---------フッター
*/

footer {
    width: 100%;
    padding: 70px 0;
}

.footer-info {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
}

.footer-left {
    & img {
        height: 70px;
        width: auto;
        margin-bottom: 25px;
    }
}

.footer-info .place {
    font-size: 1.125em;
    font-weight: 500;
}

.footer-copyright {
    width: 300px;
    font-size: 13px;
    margin-top: auto;
    text-align: right;
}