@charset "UTF-8";

.main-visual {
    display: block;
    line-height: 0;
    margin-bottom: 40px;
}

.main-visual img {
    width: 100%;
    height: auto;
}

/*
    -------グラフ一覧
*/

main {
    margin: 0 auto;
    max-width: var(--content-max-width);
}

.graph-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 350px;
    grid-gap: 40px;
    justify-content: center;
}

.graph-item {
    width: 300px;
    height: 350px;
    background-color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 6px color-mix(in srgb, black 20%, white);
    border-radius: 8px;
    transition: 0.5s;
}

.graph-item:hover {
    background-color: #DFDFDF;
    transform: scale(1.05);
}

.graph-item img {
    width: 100%;
    height: auto;
}

.graph-item p {
    text-align: center;
    margin-top: 30px;
}